<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>927688410041-hqkr4bscdv26dl1bdiq3fqt4ac9h9fof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927688410041-hqkr4bscdv26dl1bdiq3fqt4ac9h9fof</string>
	<key>API_KEY</key>
	<string>AIzaSyBA46gegcZoih3LqFt5_VE-nJoRqpWDvxI</string>
	<key>GCM_SENDER_ID</key>
	<string>927688410041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justonejess.justonejess-social</string>
	<key>PROJECT_ID</key>
	<string>rascal-social-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rascal-social-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:927688410041:ios:7b6f3375bc2f3fcd</string>
	<key>DATABASE_URL</key>
	<string>https://rascal-social-app.firebaseio.com</string>
</dict>
</plist>